In [1]:
###### Set Up #####
# verify our folder with the data and module assets is installed
# if it is installed make sure it is the latest
!test -e ds-assets && cd ds-assets && git pull && cd ..
# if it is not installed clone it 
!test ! -e ds-assets && git clone https://github.com/lutzhamel/ds-assets.git
# point to the folder with the assets
home = "ds-assets/assets/" 
import sys
sys.path.append(home)      # add home folder to module search path

Cloning into 'ds-assets'...
remote: Enumerating objects: 164, done.
remote: Total 164 (delta 0), reused 0 (delta 0), pack-reused 164
Receiving objects: 100% (164/164), 7.40 MiB | 17.41 MiB/s, done.
Resolving deltas: 100% (60/60), done.

# Data Manipulation with Pandas

Pandas supports 1-D (Series), 2-D (DataFrame), and 3-D (Panel) data structures.  Here we cover DataFrames because they most closely resemble the kind of data tables data scientists mostly look at.

The advantage of Pandas is that it stores the data together with its *metadata*.

The most often used meta data with Pandas are the **column names** and the **index**.

In [2]:
import pandas
import numpy # for random number generation

In [49]:
df = pandas.read_csv(home+"mammals.csv")

In [4]:
df

   Legs Wings  Fur Feathers  Mammal
0     4    no  yes       no    True
1     2   yes   no      yes   False
2     4    no   no       no   False
3     4   yes  yes       no    True
4     3    no   no       no   False

# DataFrame Parts

A dataframe is composed of different parts that work together to give a coherent view of the data:

In [5]:
df.columns

Index(['Legs', 'Wings', 'Fur', 'Feathers', 'Mammal'], dtype='object')

In [6]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
df.values

array([[4, 'no', 'yes', 'no', True],
       [2, 'yes', 'no', 'yes', False],
       [4, 'no', 'no', 'no', False],
       [4, 'yes', 'yes', 'no', True],
       [3, 'no', 'no', 'no', False]], dtype=object)

We can change the parts of the data.  For example, we can create a new index for our dataframe:

In [8]:
df.index = ['Dog', 'Duck', 'Frog', 'Bat', 'Bar Stool']

In [9]:
df

           Legs Wings  Fur Feathers  Mammal
Dog           4    no  yes       no    True
Duck          2   yes   no      yes   False
Frog          4    no   no       no   False
Bat           4   yes  yes       no    True
Bar Stool     3    no   no       no   False

# Indexing and Slicing

For array-style indexing Pandas  uses the **loc**, **iloc**, and **ix** indexers. 

Using the **iloc** indexer, we can index the underlying array as if it is a simple array using row and column integer values (hence the i in iloc). The DataFrame index and column labels are maintained in the result:

In [10]:
df

           Legs Wings  Fur Feathers  Mammal
Dog           4    no  yes       no    True
Duck          2   yes   no      yes   False
Frog          4    no   no       no   False
Bat           4   yes  yes       no    True
Bar Stool     3    no   no       no   False

In [11]:
df.iloc[:2,1:4]

     Wings  Fur Feathers
Dog     no  yes       no
Duck   yes   no      yes

Using the **loc** indexer we can index the underlying data in an array-like style but using the explicit index and column names:

In [12]:
df.loc[:'Duck','Wings':'Feathers']

     Wings  Fur Feathers
Dog     no  yes       no
Duck   yes   no      yes

Notice that when slicing with an explicit index (i.e., data.loc['a':'c']), the final index is included in the slice, while when slicing with an implicit index (i.e., data.iloc[0:2]), the final index is excluded from the slice.

# Converting Categorical Data to Numerical Data

The machine learning algorithms in sklearn only operate on numerical data.  That means any data that is categorical has to be converted to numerical data.  **This is only true for the independent variables**.  The target variable can be categorical or numeric.

For categorical variables that only have **two labels** that conversion is easy, replace the labels with 0 and 1.  Consider our Mammals data set.

In [13]:
df

           Legs Wings  Fur Feathers  Mammal
Dog           4    no  yes       no    True
Duck          2   yes   no      yes   False
Frog          4    no   no       no   False
Bat           4   yes  yes       no    True
Bar Stool     3    no   no       no   False

In [60]:
# define a function that turns 'yes' into 1 and 'no' into 0
def f(x):
  if x == 'yes':
    return 1
  elif x == 'no':
    return 0
  else:
    # something strange happened...
    return x

# make a copy
df_numeric = df.copy()
# replace the categorical variables with numeric ones
df_numeric['Wings'] = df_numeric['Wings'].apply(f)
df_numeric['Fur'] = df_numeric['Fur'].apply(f)
df_numeric['Feathers'] = df_numeric['Feathers'].apply(f)
df_numeric

   Legs  Wings  Fur  Feathers  Mammal
0     4      0    1         0    True
1     2      1    0         1   False
2     4      0    0         0   False
3     4      1    1         0    True
4     3      0    0         0   False

We cannot use this approach with categorical variables with more than 2 labels. Consider, if we had a variable called 'Colors' and it had three labels: 'Yellow', 'Red', and 'Blue'.  If we were to replace the labels with numerical values such as 'Yellow'=1, 'Red'=2, and 'Blue'=3, then we inadvertently introduced an ordering to colors, namely,

'Yellow' < 'Red' < 'Blue'

which is of course not true. To get around this we introduce what is called **dummy encoding** where each label of a categorical variable is represented as its own **dummy variable**.

To see this let's go back to our tennis data set.

In [61]:
df_tennis = pandas.read_csv(home+"tennis.csv")
df_tennis

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [65]:
# find the number of labels in each column
for v in list(df_tennis.columns):
  print("# of labels in {}: {}".format(v,df_tennis[v].value_counts().shape[0]))

# of labels in outlook: 3
# of labels in temp: 3
# of labels in humidity: 2
# of labels in windy: 2
# of labels in play: 2

This means we have to do dummy encoding for variables outlook and temp and we can perform a straight forward label replacement for variables humidity and windy.  We will leave the target variable alone.

In [68]:
def f_humidity(x):
  if x == 'normal':
    return 0
  elif x == 'high':
    return 1
  else:
    return x

def f_windy(x):
  if x == False:
    return 0
  elif x == True:
    return 1
  else:
    return x

df_tennis_numeric = df_tennis.copy()
# replace binary variables
df_tennis_numeric['humidity'] = df_tennis_numeric['humidity'].apply(f_humidity)
df_tennis_numeric['windy'] = df_tennis_numeric['windy'].apply(f_windy)
# replace multi-lable variables
df_tennis_numeric = pandas.get_dummies(df_tennis_numeric,columns=['outlook','temp'])
df_tennis_numeric

    humidity  windy play  ...  temp_cool  temp_hot  temp_mild
0          1      0   no  ...          0         1          0
1          1      1   no  ...          0         1          0
2          1      0  yes  ...          0         1          0
3          1      0  yes  ...          0         0          1
4          0      0  yes  ...          1         0          0
5          0      1   no  ...          1         0          0
6          0      1  yes  ...          1         0          0
7          1      0   no  ...          0         0          1
8          0      0  yes  ...          1         0          0
9          0      0  yes  ...          0         0          1
10         0      1  yes  ...          0         0          1
11         1      1  yes  ...          0         0          1
12         0      0  yes  ...          0         1          0
13         1      1   no  ...          0         0          1

[14 rows x 9 columns]

Let's try to build a decision tree on this now that it is in numeric shape suitable for sklearn.

In [69]:
from sklearn import tree
from treeviz import tree_print

features_df = df_tennis_numeric.drop(['play'],axis=1)
target_df = pandas.DataFrame(df_tennis_numeric['play'])

dtree = tree.DecisionTreeClassifier(criterion='entropy')
dtree.fit(features_df,target_df)
tree_print(dtree,features_df)

if outlook_overcast =< 0.5:
  |then if humidity =< 0.5:
  |  |then if windy =< 0.5:
  |  |  |then yes
  |  |  |else if outlook_sunny =< 0.5:
  |  |  |  |then no
  |  |  |  |else yes
  |  |else if outlook_rainy =< 0.5:
  |  |  |then no
  |  |  |else if windy =< 0.5:
  |  |  |  |then yes
  |  |  |  |else no
  |else yes
<---------->
Tree Depth:  4

The tree looks a bit different because we are splitting on 0/1.  But we can see that the outlook variable is still the most predictive variable. Note: something =< 0.5 means something == 0 since the values are only 1 and 0.

# Data Access Patterns

We can use relational and boolean expressions when selecting data from a dataframe.

In order to see that we have to realize that there is another simple way to select frame columns:

In [14]:
df[['Wings', 'Mammal']] # using a list of column names to access columns

          Wings  Mammal
Dog          no    True
Duck        yes   False
Frog         no   False
Bat         yes    True
Bar Stool    no   False

Relational Operators:

In [15]:
df[df.Wings == 'yes'] # accessing rows for which an equality holds

      Legs Wings  Fur Feathers  Mammal
Duck     2   yes   no      yes   False
Bat      4   yes  yes       no    True

In [16]:
df[df.Wings == 'yes'].Mammal # accessing attribute values for rows for which the equality holds

Duck    False
Bat      True
Name: Mammal, dtype: bool

In [17]:
df[(df.Wings == 'yes') & (df.Fur == 'yes')] # boolean operations

     Legs Wings  Fur Feathers  Mammal
Bat     4   yes  yes       no    True

# Combining DataFrames

Using concat() along axis 1 (columns)

In [18]:
df1 = df.iloc[:,:2]
df1

           Legs Wings
Dog           4    no
Duck          2   yes
Frog          4    no
Bat           4   yes
Bar Stool     3    no

In [19]:
df2 = df.iloc[:,2:]
df2

           Fur Feathers  Mammal
Dog        yes       no    True
Duck        no      yes   False
Frog        no       no   False
Bat        yes       no    True
Bar Stool   no       no   False

In [20]:
pandas.concat([df1,df2],axis=1)

           Legs Wings  Fur Feathers  Mammal
Dog           4    no  yes       no    True
Duck          2   yes   no      yes   False
Frog          4    no   no       no   False
Bat           4   yes  yes       no    True
Bar Stool     3    no   no       no   False

**Note** The two dataframes have to agree on the index!

Creating a new index on df2:

In [21]:
df2.reset_index(drop=True, inplace=True)
df2

   Fur Feathers  Mammal
0  yes       no    True
1   no      yes   False
2   no       no   False
3  yes       no    True
4   no       no   False

In [22]:
pandas.concat([df1,df2],axis=1)

           Legs Wings  Fur Feathers Mammal
0           NaN   NaN  yes       no   True
1           NaN   NaN   no      yes  False
2           NaN   NaN   no       no  False
3           NaN   NaN  yes       no   True
4           NaN   NaN   no       no  False
Bar Stool   3.0    no  NaN      NaN    NaN
Bat         4.0   yes  NaN      NaN    NaN
Dog         4.0    no  NaN      NaN    NaN
Duck        2.0   yes  NaN      NaN    NaN
Frog        4.0    no  NaN      NaN    NaN

Using concat() along axis 0 (rows)

In [23]:
df_row_1 = df.iloc[:2,:]
df_row_1

      Legs Wings  Fur Feathers  Mammal
Dog      4    no  yes       no    True
Duck     2   yes   no      yes   False

In [24]:
df_row_2 = df.iloc[2:,:]
df_row_2

           Legs Wings  Fur Feathers  Mammal
Frog          4    no   no       no   False
Bat           4   yes  yes       no    True
Bar Stool     3    no   no       no   False

In [25]:
pandas.concat([df_row_1,df_row_2],axis=0)

           Legs Wings  Fur Feathers  Mammal
Dog           4    no  yes       no    True
Duck          2   yes   no      yes   False
Frog          4    no   no       no   False
Bat           4   yes  yes       no    True
Bar Stool     3    no   no       no   False

**Note** dataframes have to agree on column names!

**append** and **assign** functions work very similarly.

# Missing or Duplicated Data
* Pandas flags missing values with NaN (not a number).
* In most cases, any computations applied to a dataframe with NaNs will ignore the NaNs
* However, it is still a good idea to clean up the dataframe
* In general we have two options to deal with missing data:
 * Either drop the row or columns that has NaNs
 * Or try to substitute a reasonable value for the NaN

Generate a dataset with NaNs

In [26]:
df = pandas.DataFrame(numpy.random.randn(4, 3), index=['a', 'c', 'd', 'e'], 
                  columns=['one', 'two', 'three'])
df

        one       two     three
a  1.104586 -0.132789  0.520099
c -0.119275  0.678325 -0.902957
d -1.916649 -1.186027 -0.101091
e -0.252699  1.243875  0.791144

Generating NaNs

In [27]:
df2 = df.reindex(['a', 'b', 'c', 'd', 'e'])
df2

        one       two     three
a  1.104586 -0.132789  0.520099
b       NaN       NaN       NaN
c -0.119275  0.678325 -0.902957
d -1.916649 -1.186027 -0.101091
e -0.252699  1.243875  0.791144

In [28]:
# find the places where the NaNs are
df2.isnull()

     one    two  three
a  False  False  False
b   True   True   True
c  False  False  False
d  False  False  False
e  False  False  False

In [29]:
# look at the values of the isnull dataframe
df2.isnull().values

array([[False, False, False],
       [ True,  True,  True],
       [False, False, False],
       [False, False, False],
       [False, False, False]])

In [30]:
# find out how many values are missing
# NOTE: sum treats 'True' as 1 and 'False' as 0 
df2.isnull().values.sum()

3

In [31]:
# drop rows that have NaNs
df2.dropna(how='any',axis=0)

        one       two     three
a  1.104586 -0.132789  0.520099
c -0.119275  0.678325 -0.902957
d -1.916649 -1.186027 -0.101091
e -0.252699  1.243875  0.791144

In [32]:
# dropping columns that have NaNs
# NOTE: this is NOT always a good idea -- empty dataframe!
df2.dropna(how='any',axis=1)

Empty DataFrame
Columns: []
Index: [a, b, c, d, e]

# Replacing Missing Data

We can also try to estimate the missing data - **impute** it.

We replace the missing values by the means of each column.

In [33]:
df2

        one       two     three
a  1.104586 -0.132789  0.520099
b       NaN       NaN       NaN
c -0.119275  0.678325 -0.902957
d -1.916649 -1.186027 -0.101091
e -0.252699  1.243875  0.791144

In [34]:
# compute the mean of each column
df2.mean()

one     -0.296009
two      0.150846
three    0.076799
dtype: float64

In [35]:
# fill the missing values in each column
for c in df.columns:
    df2[c].fillna(df[c].mean(), inplace=True)

df2

        one       two     three
a  1.104586 -0.132789  0.520099
b -0.296009  0.150846  0.076799
c -0.119275  0.678325 -0.902957
d -1.916649 -1.186027 -0.101091
e -0.252699  1.243875  0.791144

# Broadcasting

Binary arithmetic operators are applied element by element to dataframes assuming equal sized dataframes.

Broadcasting refers to the fact that Python will reuse a scalar in order to complete the binary operation.

In [36]:
df = pandas.DataFrame([[1,2],[3,4]])
df

   0  1
0  1  2
1  3  4

In [37]:
# element by element operation
df + df

   0  1
0  2  4
1  6  8

In [38]:
# broadcasting a scalar
# NOTE: the scalar is applied to ALL elements
#       of the dataframe
df + 10

    0   1
0  11  12
1  13  14

In [39]:
# we can now say things like this
df + df == 2*df

      0     1
0  True  True
1  True  True

# Duplicate Data

Identify and remove duplicate rows in a DataFrame

In [40]:
# make a dataframe with duplicate rows 'b' and 'e'
df2.iloc[4,:] = df2.iloc[1,:]
df2

        one       two     three
a  1.104586 -0.132789  0.520099
b -0.296009  0.150846  0.076799
c -0.119275  0.678325 -0.902957
d -1.916649 -1.186027 -0.101091
e -0.296009  0.150846  0.076799

In [41]:
# check if there is duplication
df2.duplicated()

a    False
b    False
c    False
d    False
e     True
dtype: bool

In [42]:
# drop e!
df2.drop_duplicates()

        one       two     three
a  1.104586 -0.132789  0.520099
b -0.296009  0.150846  0.076799
c -0.119275  0.678325 -0.902957
d -1.916649 -1.186027 -0.101091

By default **duplicated()** and **drop_duplicates()** keep the first and identify other reoccuring instances as duplicates.

# Reading

* 3.1 [Pandas](https://jakevdp.github.io/PythonDataScienceHandbook/03.01-introducing-pandas-objects.html)
* 3.2 [Data Indexing and Selection](https://jakevdp.github.io/PythonDataScienceHandbook/03.02-data-indexing-and-selection.html)
* 3.3 [Operating on Data in Pandas](https://jakevdp.github.io/PythonDataScienceHandbook/03.03-operations-in-pandas.html)
* 3.4 [Handling Missing Data](https://jakevdp.github.io/PythonDataScienceHandbook/03.04-missing-values.html)
* 3.6 [Combining Datasets: Concat and Append](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html)
* 3.7 [Combining Datasets: Merge and Join](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html)
* 3.8 [Aggregation and Grouping](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html)